# .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.vspscc
*.vssscc
_ReSharper.Caches/
*.sln.ide/
*.swp
*.swo

# Android
*.apk
*.aab
*.keystore
*.jks
*.properties

# Build
/publish/
/artifacts/
/out/
/build/

# IDE
.vscode/
.idea/
*.code-workspace

# OS
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log
*.tmp
/temp/
/logs/
